.advanced-settings {
    padding: 15px;
}
.advanced-settings .ad-settings-tab {
    background-color: #fff;
    position: relative;
    padding: 10px 10px 20px 10px;
}
.advanced-settings .row {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.advanced-settings .ad-container {
    width: 100%;
    height: auto;
}
.advanced-settings .ad-container p.ad-elements-control-notice {
    margin: 10px 0 15px 10px;
}
.advanced-settings #widgets .checkbox-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.advanced-settings #widgets .ad-checkbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 250px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin: 10px 40px 10px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 6px 1px rgba(80,80,80,0.1);
    padding: 15px;
}

.ad-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}
.ad-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ad-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ad-slider:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 23px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.ad-switch input:checked + .ad-slider {
    background-color: #562dd4;
}

.ad-switch input:focus + .ad-slider {
    box-shadow: 0 0 1px #2196F3;
}
.ad-switch input + .ad-slider:before {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
}
.ad-switch input:checked + .ad-slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(22px);
}

/* Rounded sliders */
.ad-slider.round {
    border-radius: 34px;
}
.ad-slider.round:before {
    border-radius: 50%;
}

/*  save button */
.ad-button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.brand {
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    margin: 0px;
    background: linear-gradient(90deg, #e2498a 0%, #562dd4 100%);
    padding: 10px;
}
button.ad-save-button {
    font-size: 16px;
    text-transform: capitalize;
    padding: 12px 18px;
    border-radius: 4px;
    border: none;
    background-color: #e2498a;
    box-shadow: 0 1px 0 #8a0d42;
    color: #fff;
    transition: background-color .4s, transform .4s;
}
button.ad-save-button:hover {
    background-color: #562dd4;
    box-shadow: 0 1px 0 #301963;
    transition: background-color .4s, transform .4s;
}
